
<h2>newforms</h2>


<form action="/Admin/news" method="post" enctype="multipart/form-data">
    Upload News : <textarea id="TextArea" rows="2" cols="20"></textarea>
    <input type="submit" value="Upload" />
</form>
